.modal {
  min-height: 220px;
}
.modalOverlay {
  @apply bg-opacity-30 fixed top-0 left-0 flex items-center justify-center w-screen h-screen bg-gray-600;
}

.modalShadow{
  box-shadow: 0 10px 50px  rgba(0, 0, 0, 0.25);
}
.modalZIndex{
  z-index: 60;
}